@model LojaNicholas.Models.Vendedores

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastro de Vendedor</h1>

<h4>Vendedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CdVend" class="control-label"></label>
                <input asp-for="CdVend" class="form-control" />
                <span asp-validation-for="CdVend" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DsNome" class="control-label"></label>
                <input asp-for="DsNome" class="form-control" />
                <span asp-validation-for="DsNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdTab" class="control-label"></label>
                <input asp-for="CdTab" class="form-control" />
                <span asp-validation-for="CdTab" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtNasc" class="control-label"></label>
                <input asp-for="DtNasc" class="form-control" />
                <span asp-validation-for="DtNasc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
